<header class="px-4 sm:px-6 lg:px-8">
  <div class="max-w-2xl mx-auto py-6">
    <h1 class="text-3xl font-bold text-amber-700 text-center">
      Hold The Door Hold Dor Holdor
    </h1>
  </div>
</header>
<main class="px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
